network:
  version: 2
  ethernets:
    eth0:
      dhcp4: false
      addresses:
        - {{ private_ip }}/24
      routes:
        - to: default
          via: 10.0.1.1
        - to: 168.63.129.16
          via: 10.0.1.1
      nameservers:
        addresses:
          - 168.63.129.16
        search:
          - hpevme.local

  bridges:
    mgmt:
      interfaces: [vxlan0]
      dhcp4: no
      dhcp6: no
{% if gateway_host is defined and gateway_host %}
      addresses:
        - {{ overlay_gateway_ip }}/24
{% endif %}
      openvswitch: {}

  tunnels:
    vxlan0:
      mode: vxlan
      id: 10
      remote: {{ remote_host_ip }}
      local: {{ private_ip }}
      port: 4789
