network:
  version: 2
  ethernets:
    eth0:
      dhcp4: false
      addresses:
        - {{ private_ip }}/24
      routes:
        - to: default
          via: 10.0.1.1
        - to: 168.63.129.16
          via: 10.0.1.1
      nameservers:
        addresses:
          - 168.63.129.16
        search:
          - hpevme.local
    eth1:
      dhcp4: no
      dhcp6: no
  bridges:
    mgmt:
      interfaces: [eth1]
      dhcp4: no
      dhcp6: no
{% if gateway_host is defined and gateway_host %}
      addresses:
        - {{ overlay_gateway_ip }}/24
{% endif %}
      openvswitch: {}