#cloud-config
users:
  - name: core
    groups: [wheel]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh-authorized-keys:
      - {{ ssh_public_key }}
write_files:
  - path: /etc/NetworkManager/system-connections/cloud-init-enp1s0.nmconnection
    permissions: '0600'
    content: |
      [connection]
      id=static-enp1s0
      type=ethernet
      interface-name=enp1s0

      [ethernet]
      mtu=1450

      [ipv4]
      method=manual
      addresses={{ vm_ip }}/24
      gateway={{ vm_gateway }}
      dns={{ vm_dns }};
runcmd:
  - echo "core:fedora" | chpasswd
  - systemctl restart NetworkManager
